@page
@model ImdbUserModel
@{
    ViewData["Title"] = "IMDb Gebruiker configuratie";
}

@if (Model.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @Model.ErrorMessage
    </div>
}

@if (Model.WarningMessage != null)
{
    <div class="alert alert-warning">
        @Model.WarningMessage
    </div>
}

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}
</style>

<h3>Koppeling met IMDb</h3>

<p>
    FilmOpTV.be kan aanduiden welke films je al bekeken hebt, en welke je nog wilt zien.
</p>
<p>
    <ul>
        <li>Voor de bekeken films worden je publieke <i>IMDb Ratings</i> gebruikt.</li>
        <li>De publieke <i>IMDb Watchlist</i> wordt gebruikt voor de films die je nog wilt zien.</li>
    </ul> 
</p>
<p>
    Deze beide lijsten moeten publiek zijn.  
    Het enige wat we nodig hebben is een IMDb Gebruikers ID, zonder paswoord.
</p>

<h3>IMDb Gebruikers ID</h3>

<p>
    De IMDb Gebruikers ID heeft het formaat <i>ur98765432</i>.  Surf naar 
    <a href="https://www.imdb.com/profile" target="_new">https://www.imdb.com/profile</a>,
    waarna je je gebruikersnaam vindt in de adresbalk. 
</p>

<p>
@if (string.IsNullOrEmpty(Model.ImdbUserId))
{
    <form action="#" method="GET">
        Vul hier je IMDb Gebruikers ID in:
        <input type="edit" name="setimdbuserid" value="@Model.ImdbUserId" />
        <input type="submit" value="Inloggen" /> 
    </form>
}
@if (!string.IsNullOrEmpty(Model.ImdbUserId))
{
    <div class="alert alert-warning">
        Je bent ingelogd met IMDb Gebruikers ID @(Model.ImdbUserId).
    </div>
    <form action="#" method="GET">  
        <input type="hidden" name="setimdbuserid" value="remove" />
        <input type="submit" value="Uitloggen" /> 
    </form>
}
</p>

    
@if (!string.IsNullOrEmpty(Model.ImdbUserId))
{
<h3>Informatie gedownload van IMDb</h3>

<div class="table-responsive">  
<table class="table">
<tr>
    <th>
    </th>
    <th>
        Ratings
    </th>
    <th>
        Watchlist
    </th>
</tr>
<tr>
    <td>
        Totaal aantal films
    </td>
    <td>
        @Model.UserRatingCount films
    </td>
    <td>
        @Model.UserWatchListCount films
    </td>
</tr>
<tr>
    <td>
        Laatste toevoeging
    </td>
    <td>
        @if (Model.RatingLastDate.HasValue && Model.RatingLastMovie != null && Model.RatingLastRating.HasValue)
        {
            @Model.RatingLastDate.Value.ToLocalTime().ToLongDateString()
            <br/>
            @Model.RatingLastMovie
            <br/>            
            @: @(Model.RatingLastRating) / 10
        }
    </td>
    <td>
        @if (Model.WatchListLastDate.HasValue && Model.WatchListLastMovie != null)
        {
            @Model.WatchListLastDate.Value.ToLocalTime().ToLongDateString()
            <br/>
            @Model.WatchListLastMovie
        }
    </td>
</tr>
<tr>
    <td colspan="3">
        <strong>Automatische download</strong>
        <div class="alert alert-warning">
            <strong>Opgelet!</strong>
            Het automatisch downloaden van je laatste IMDb ratings &amp; watchlist via RSS is niet langer mogelijk,
            na wijzigingen aan de IMDb website.
            We bekijken wat mogelijk is om dit te verhelpen.
            Voorlopig kunt u enkel ratings &amp; watchlist manueel opladen, zie hieronder.
        </div>
        <small class="disabled">
            Het automatisch ophalen van de laatste IMDb ratings en watchlist werkt enkel voor ongeveer de laatste 250 ratings. 
            Als je ratings of watchlist langer zijn, kan het daarom nuttig zijn om hieronder (éénmalig) de lijst te importeren 
            met een CSV bestand. 
        </small>
    </td>
</tr>
<tr class="disabled">
    <td>
        IMDb RSS feed
    </td>
    <td>
        <a href="http://rss.imdb.com/user/@Model.ImdbUserId/ratings" target="_new">http://rss.imdb.com/user/@Model.ImdbUserId/ratings</a>
    </td>
    <td>
        <a href="http://rss.imdb.com/user/@Model.ImdbUserId/watchlist" target="_new">http://rss.imdb.com/user/@Model.ImdbUserId/watchlist</a>
    </td>
</tr>
<tr class="disabled">
    <td>
        Laatste download tijdstip
    </td>
    <td>
    @if (Model.LastRefreshSuccess.HasValue && Model.LastRefreshRatingsTime.HasValue)
    {
        @Model.LastRefreshRatingsTime.Value.ToLocalTime().ToLongDateString()<br/>
        @Model.LastRefreshRatingsTime.Value.ToLocalTime().ToShortTimeString()
    }
    else
    {
        <div class="alert alert-warning">
            Nog niet opgehaald.
        </div>
    }
    </td>
    <td>
    @if (Model.WatchListLastRefreshSuccess.HasValue && Model.WatchListLastRefreshTime.HasValue)
    {
        @Model.WatchListLastRefreshTime.Value.ToLocalTime().ToLongDateString()<br/>
        @Model.WatchListLastRefreshTime.Value.ToLocalTime().ToShortTimeString()
    }
    else
    {
        <div class="alert alert-warning">
            Nog niet opgehaald.
        </div>
    }
    </td>
</tr>
<tr class="disabled">
    <td>
        Resultaat
    </td>
    <td>
    @if (Model.LastRefreshSuccess.HasValue)
    {
        @if (Model.LastRefreshSuccess.Value)
        {
            <div class="alert alert-success">
                Gelukt
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                Mislukt
            </div>
        }
    }
    else
    {
        <div>
            N/A
        </div>
    }
    </td>
    <td>
    @if (Model.WatchListLastRefreshSuccess.HasValue)
    {
        @if (Model.WatchListLastRefreshSuccess.Value)
        {
            <div class="alert alert-success">
                Gelukt
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                Mislukt
            </div>
        }
    }
    else
    {
        <div>
            N/A
        </div>
    }
    </td>
</tr>
<tr class="disabled">
    <td>
        Extra info
    </td>
    <td>
        @Model.LastRefreshRatingsResult
    </td>
    <td>
        @Model.WatchListLastRefreshRatingsResult
    </td>
</tr>
<tr class="disabled">
    <td>
        Volgende automatische download
    </td>
    <td colspan="2">
        @if (Model.RefreshRequestTime.HasValue)
        {
            <div class="alert alert-warning">
                Gepland (sinds @Model.RefreshRequestTime.Value.ToLocalTime().ToLongDateString() @Model.RefreshRequestTime.Value.ToLocalTime().ToShortTimeString()).<br/>
                <a href="?">Herlaad</a> deze pagina binnen enkele minuten om de laatste resultaten te zien.
            </div>
        }
        else
        {
            <a href="?forcerefresh=true" class="btn btn-success">Ratings nu herladen</a>
        }
    </td>
</tr>
<tr>
    <td colspan="3">
        <strong>Manuele import</strong>
    </td>
</tr>
<tr>
    <td>
        IMDb CSV import
    </td>
    <td>
        <a href="http://www.imdb.com/list/export?list_id=ratings&author_id=@Model.ImdbUserId" target="_new">IMDb Ratings export</a>
    </td>
    <td>
        <a href="http://www.imdb.com/list/export?list_id=watchlist&author_id=@Model.ImdbUserId" target="_new">IMDb Watchlist export</a>
    </td>
</tr>
<tr>
    <td>
        Manuele import
    </td>
    <td>
        <form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="ImdbUser">
            <div class="form-group">
                <p>Kies hier het CSV bestand met je IMDb ratings:</p>
                <input type="file" name="files" multiple />
                <input type="hidden" name="type" value="ratings" />
            </div>
            <div class="form-group">
                <input type="submit" value="Importeren" />
            </div>
        </form>
    </td>
    <td>
        <form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="ImdbUser">
            <div class="form-group">
                <p>Kies hier het CSV bestand met je IMDb ratings:</p>
                <input type="file" name="files" multiple />
                <input type="hidden" name="type" value="watchlist" />
            </div>
            <div class="form-group">
                <input type="submit" value="Importeren" />
            </div>
        </form>
    </td>
</tr>
</table>
</div>
}
