@page
@model IndexModel
@using System.Text;
@using System.Globalization;
@{
    ViewData["Title"] = "Home page";
}

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
	<style type="text/css">
		span.stars, span.stars span {
			display: inline-block;
			background: url(/images/stars.png) 0 -16px repeat-x;
			width: 160px;
			height: 16px;
		}
	
		span.stars span {
			background-position: 0 0;
		}

        h2 {
            padding: 0px;
            margin: 0px;
        }
	</style>

    @functions 
    {
        string FormatQueryString(decimal? minrating, bool notyetrated)
        {
            StringBuilder sb = null;
            if (minrating.HasValue)
            {
                if (sb == null)
                    sb = new StringBuilder();
                else
                    sb.Append('&');
                sb.Append("minrating=");
                sb.Append(minrating.Value.ToString(CultureInfo.InvariantCulture.NumberFormat));
            }
            if (notyetrated)
            {
                if (sb == null)
                    sb = new StringBuilder();
                else
                    sb.Append('&');
                sb.Append("notyetrated=true");
            }
            return sb?.ToString() ?? "";
        }

        string FormatQueryStringWithMinRating(decimal? minrating)
        {
            return FormatQueryString(minrating, Model.NotYetRated);
        }

        string FormatQueryStringWithNotYetRated(bool notyetrated)
        {
            return FormatQueryString(Model.MinRating, notyetrated);
        }

        string GetFilterStyle(bool hasValue)
        {
            if (hasValue)
                return "btn-success";
            else
                return "btn-default";
        }
    }
    
    <table class="table">
    <tbody>
            Filter:
            <div class="btn-group">
            
                <a href="?@FormatQueryStringWithMinRating(null)" class="btn @GetFilterStyle(Model.MinRating.HasValue)">
                    IMDB Sterren
                    @if (Model.MinRating.HasValue)
                    {
                        @: (@Model.MinRating.Value)
                    }
                </a>
                <button type="button" class="btn @GetFilterStyle(Model.MinRating.HasValue) dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>  <!-- caret -->
                    <span class="sr-only">IMDB Sterren</span>
                </button>
                
                <ul class="dropdown-menu" role="menu"> <!-- class dropdown-menu -->
                    <li><a href="?@FormatQueryStringWithMinRating(5.0m)">5 of meer</a></li>
                    <li><a href="?@FormatQueryStringWithMinRating(6.0m)">6 of meer</a></li>
                    <li><a href="?@FormatQueryStringWithMinRating(7.0m)">7 of meer</a></li>
                    <li><a href="?@FormatQueryStringWithMinRating(8.0m)">8 of meer</a></li>
                    <li><a href="?@FormatQueryStringWithMinRating(9.0m)">9 of meer</a></li>
                </ul>
            </div>

            <a href="?@FormatQueryStringWithNotYetRated(!Model.NotYetRated)" class="btn @GetFilterStyle(Model.NotYetRated)">
                @if (Model.NotYetRated)
                {
                    @: Nog niet gezien
                }
                else
                {
                    @: Reeds gezien
                }
            </a>

        @{
            DateTime? lastDate = null;
            int moviesSinceLastAd = 0;
        }

        @foreach (var record in Model.Records.Where(m => m.MovieEvent.EndTime >= DateTime.Now).OrderBy(m => m.MovieEvent.StartTime))
        {
            var movieEvent = record.MovieEvent;
            @if (lastDate == null || lastDate != movieEvent.StartTime.Date)
            {
                if (lastDate != null && moviesSinceLastAd >= 6)
                {
                    <tr>
                        <td colspan="3">
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- MyComputerAdventures -->
                            <ins class="adsbygoogle"
                                style="display:block"
                                data-ad-client="ca-pub-6612546844038667"
                                data-ad-slot="6049450578"
                                data-ad-format="auto"></ins>
                            <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        </td>
                    </tr>
                    moviesSinceLastAd = 0;
                }

                <tr>
                    <td colspan="3">
                        <h1>@(@movieEvent.StartTime.ToLongDateString())</h1>
                    </td>
                </tr>

                lastDate = movieEvent.StartTime.Date;
            }

            moviesSinceLastAd++;

            <tr>
                <td>
                    <img width=50 src=@(@movieEvent.Channel.LogoS) />
                    <br/>
                    @(@movieEvent.StartTime.ToString("dddd"))
                    <br/>
                    @(@movieEvent.StartTime.ToShortDateString())
                    <br/>
                    @(@movieEvent.StartTime.ToShortTimeString())
                    <br/>
                    @(new TimeSpan((long)@movieEvent.Duration * 600000000).ToString(@"h\:mm"))
                </td>
                <td>
                    @if (@movieEvent.PosterS != null)
                    {
                        <img width=150 src=@(@movieEvent.PosterS) />
                    }
                </td>
                <td>
                    <h2>
                        @movieEvent.Title
                        <small>@movieEvent.Year</small>
                        <span style="white-space: nowrap; float: right;">
                            <small>
                                @if (@movieEvent.YeloUrl != null)
                                {
                                    <a href="@movieEvent.YeloUrl" target="_new">
                                        <img src="/images/yeloplay.png" height="36px" />
                                    </a>
                                    
                                }
                                &nbsp;
                                @if (@movieEvent.ImdbId != null)
                                {
                                        <a href="http://www.imdb.com/title/@movieEvent.ImdbId" target="_new">
                                            <img src="/images/imdb.png" height="24px" />
                                            @if (@movieEvent.ImdbRating.HasValue)
                                            {
                                                @((@movieEvent.ImdbRating.Value / 10.0).ToString("0.0"))
                                                <span class="stars">
                                                    <span style="width: @(Math.Round(16.0 * @movieEvent.ImdbRating.Value / 10, 0))px;" />
                                                </span>
                                            }
                                    </a>
                                }
                                else
                                {
                                    @movieEvent.Id
                                }
                            </small>
                        </span>
                    </h2>
                    <div style="clear: both;">
                        <p>
                            @movieEvent.Genre
                        </p>
                        <p>
                            @movieEvent.Content
                        </p>
                        @if (record.UserRating != null)
                        {
                            <p>
                                <b>
                                    Deze film gaf je op @record.UserRating.RatingDate.ToLongDateString() een rating van "@record.UserRating.Rating".
                                </b>
                            </p>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
