@page
@model StreamingModel
@using System.Text;
@using System.Globalization;
@{
    ViewData["Title"] = "Streaming";
    ViewData["Canonical"] = "/";
    if (Model.MovieEvent != null)
    {
        ViewData["og:title"] = Model.MovieEvent.Title;
        //ViewData["og:description"] = Model.MovieEvent.Content;
        var description = string.Format("{2:dddd} FilmOpTV.be '{0}' op {1} om {2:HH:mm} - {3}/10 op IMDb",
            Model.MovieEvent.Title, Model.MovieEvent.Channel.Name, Model.MovieEvent.StartTime, Model.MovieEvent.Movie.ImdbRating/10.0);
        description = char.ToUpper(description[0]) + description.Substring(1);
        ViewData["og:description"] = description;
        ViewData["og:url"] = $"/?m={@Model.MovieEvent.Id}";
        ViewData["og:image"] = GetImageUrl(Model.MovieEvent.PosterM_Local, Model.MovieEvent.PosterM);
        ViewData["og:image:secure_url"] = GetImageUrl(Model.MovieEvent.PosterM_Local, Model.MovieEvent.PosterM);
    }
    DateTime now = DateTime.Now;
}

    <!--
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v2.11';
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    -->

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>

    <environment include="Development">
        <script src="~/js/index.js" asp-append-version="true"></script>
        <link rel="stylesheet" href="~/css/index.css" />
    </environment>
    <environment exclude="Development">
        <script src="~/js/index.min.js" asp-append-version="true"></script>
        <link rel="stylesheet" href="~/css/index.min.css" asp-append-version="true" />
    </environment>

    <script>

        @if (Model.MovieEvent != null)
        {
            @: setTimeout(function() { window.location.hash = "#@Model.MovieEvent.Id"; })
        }

    </script>

    @functions 
    {
        string FormatQueryString(int typeMask, decimal? minrating, bool? notyetrated, Cert cert, int maxdays)
        {
            StringBuilder sb = null;
            if (typeMask != Model.FilterTypeMaskDefault)
            {
                if (sb == null)
                    sb = new StringBuilder();
                else
                    sb.Append('&');
                sb.Append("typemask=");
                sb.Append(typeMask);
            }
            if (minrating.HasValue)
            {
                if (sb == null)
                    sb = new StringBuilder();
                else
                    sb.Append('&');
                sb.Append("minrating=");
                sb.Append(minrating.Value.ToString(CultureInfo.InvariantCulture.NumberFormat));
            }
            if (notyetrated.HasValue)
            {
                if (sb == null)
                    sb = new StringBuilder();
                else
                    sb.Append('&');
                if (notyetrated.Value)
                    sb.Append("notyetrated=true");
                else
                    sb.Append("notyetrated=false");
            }
            if (cert != Cert.all)
            {
                if (sb == null)
                    sb = new StringBuilder();
                else
                    sb.Append('&');
                sb.Append("cert=");
                sb.Append(cert.ToString("g"));
            }
            if (maxdays != Model.FilterMaxDaysDefault)
            {
                if (sb == null)
                    sb = new StringBuilder();
                else
                    sb.Append('&');
                sb.Append("maxdays=");
                sb.Append(maxdays);
            }
            return sb?.ToString() ?? "";
        }

        string FormatQueryStringWithTypeMask(int typeMask)
        {
            //if (typeMask != 7 && Model.FilterTypeMask != 7)
            //    typeMask = Model.FilterTypeMask ^ typeMask;
            return FormatQueryString(typeMask, Model.FilterMinRating, Model.FilterNotYetRated, Model.FilterCert, Model.FilterMaxDays);
        }

        string FormatQueryStringWithMinRating(decimal? minrating)
        {
            return FormatQueryString(Model.FilterTypeMask, minrating, Model.FilterNotYetRated, Model.FilterCert, Model.FilterMaxDays);
        }

        string FormatQueryStringWithNotYetRated(bool? notyetrated)
        {
            return FormatQueryString(Model.FilterTypeMask, Model.FilterMinRating, notyetrated, Model.FilterCert, Model.FilterMaxDays);
        }

        string FormatQueryStringWithToggleCert(Cert cert)
        {
            if (cert != Cert.all)
                cert = Model.FilterCert ^ cert;
            return FormatQueryString(Model.FilterTypeMask, Model.FilterMinRating, Model.FilterNotYetRated, cert, Model.FilterMaxDays);
        }

        string FormatQueryStringWithMaxDays(int maxdays)
        {
            return FormatQueryString(Model.FilterTypeMask, Model.FilterMinRating, Model.FilterNotYetRated, Model.FilterCert, maxdays);
        }

        string GetFilterStyle(bool hasValue)
        {
            if (hasValue)
                return "primary";
            else
                return "default";
        }

        string FormatCert(Cert cert)
        {
            StringBuilder sb = null;
            if ((cert & Cert.none) != 0)
            {
                if (sb == null)
                    sb = new StringBuilder();
                else
                    sb.Append(",");
                sb.Append("Zonder");
            }
            if ((cert & Cert.g) != 0)
            {
                if (sb == null)
                    sb = new StringBuilder();
                else
                    sb.Append(",");
                sb.Append("G");
            }
            if ((cert & Cert.pg) != 0)
            {
                if (sb == null)
                    sb = new StringBuilder();
                else
                    sb.Append(",");
                sb.Append("PG");
            }
            if ((cert & Cert.pg13) != 0)
            {
                if (sb == null)
                    sb = new StringBuilder();
                else
                    sb.Append(",");
                sb.Append("PG-13");
            }
            if ((cert & Cert.r) != 0)
            {
                if (sb == null)
                    sb = new StringBuilder();
                else
                    sb.Append(",");
                sb.Append("R");
            }
            if ((cert & Cert.nc17) != 0)
            {
                if (sb == null)
                    sb = new StringBuilder();
                else
                    sb.Append(",");
                sb.Append("NC-17");
            }
            if ((cert & Cert.other) != 0)
            {
                if (sb == null)
                    sb = new StringBuilder();
                else
                    sb.Append(",");
                sb.Append("Overige");
            }

            return sb?.ToString() ?? "";
        }

        string GetImageUrl(string local, string remote)
        {
            if (string.IsNullOrEmpty(local))
                return remote;
            
            return "/images/cache/" + local;
        }
    }

    <a id="filter-link" href="#filter-buttons" data-toggle="collapse">Filters</a>
    <div id="filter-buttons" class="collapse">
        <div class="btn-group">
            <a href="?@FormatQueryStringWithTypeMask(Model.FilterTypeMaskDefault)" class="btn btn-@GetFilterStyle(Model.FilterTypeMask != 7)">
                @if (Model.FilterTypeMask == 7)
                {
                    @: Alle soorten
                }
                else 
                {
                    if ((Model.FilterTypeMask & 1) != 0)
                    {
                        @: Films
                    }
                    if ((Model.FilterTypeMask & 2) != 0)
                    {
                        @: Kortfilms
                    }
                    if ((Model.FilterTypeMask & 4) != 0)
                    {
                        @: Series
                    }
                }
            </a>
            <button type="button" class="btn btn-@GetFilterStyle(Model.FilterTypeMask != 7) dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>  <!-- caret -->
                <span class="sr-only">Soorten</span>
            </button>
            
            <ul class="dropdown-menu" role="menu"> <!-- class dropdown-menu -->
                <li><a href="?@FormatQueryStringWithTypeMask(7)" class="btn-@GetFilterStyle(Model.FilterTypeMask == 7)">Toon alle (@Model.Count)</a></li>
                <li class="divider"></li>
                <li><a href="?@FormatQueryStringWithTypeMask(1)" class="btn-@GetFilterStyle(Model.FilterTypeMask != 7 && (Model.FilterTypeMask & 1) != 0)">Enkel films (@Model.CountTypeFilm)</a></li>
                <li><a href="?@FormatQueryStringWithTypeMask(2)" class="btn-@GetFilterStyle(Model.FilterTypeMask != 7 && (Model.FilterTypeMask & 2) != 0)">Enkel kortfilms (@Model.CountTypeShort)</a></li>
                <li><a href="?@FormatQueryStringWithTypeMask(4)" class="btn-@GetFilterStyle(Model.FilterTypeMask != 7 && (Model.FilterTypeMask & 4) != 0)">Enkel series (@Model.CountTypeSerie)</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <a href="?@FormatQueryStringWithMinRating(null)" class="btn btn-@GetFilterStyle(Model.FilterMinRating.HasValue)">
                IMDb Sterren
                @if (Model.FilterMinRating.HasValue)
                {
                    if (Model.FilterMinRating.Value == BroadcastModelBase.NO_IMDB_ID)
                    {
                        @: (geen IMDb)
                    }
                    else if (Model.FilterMinRating.Value == BroadcastModelBase.NO_IMDB_RATING)
                    {
                        @: (geen Sterren)
                    }
                    else
                    {
                        @: (@(Model.FilterMinRating.Value.ToString("0.#"))+)
                    }
                }
            </a>
            <button type="button" class="btn btn-@GetFilterStyle(Model.FilterMinRating.HasValue) dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>  <!-- caret -->
                <span class="sr-only">IMDb Sterren</span>
            </button>
            
            <ul class="dropdown-menu" role="menu"> <!-- class dropdown-menu -->
                <li><a href="?@FormatQueryStringWithMinRating(null)" class="btn-@GetFilterStyle(!Model.FilterMinRating.HasValue)">Toon alle films (@Model.Count)</a></li>
                <li class="divider"></li>
                <li><a href="?@FormatQueryStringWithMinRating(9.0m)" class="btn-@GetFilterStyle(Model.FilterMinRating.HasValue && Model.FilterMinRating.Value == 9.0m)">Enkel met 9+ sterren (@Model.CountMinRating9)</a></li>
                <li><a href="?@FormatQueryStringWithMinRating(8.0m)" class="btn-@GetFilterStyle(Model.FilterMinRating.HasValue && Model.FilterMinRating.Value == 8.0m)">Enkel met 8+ sterren (@Model.CountMinRating8)</a></li>
                <li><a href="?@FormatQueryStringWithMinRating(7.0m)" class="btn-@GetFilterStyle(Model.FilterMinRating.HasValue && Model.FilterMinRating.Value == 7.0m)">Enkel met 7+ sterren (@Model.CountMinRating7)</a></li>
                <li><a href="?@FormatQueryStringWithMinRating(6.0m)" class="btn-@GetFilterStyle(Model.FilterMinRating.HasValue && Model.FilterMinRating.Value == 6.0m)">Enkel met 6+ sterren (@Model.CountMinRating6)</a></li>
                <li><a href="?@FormatQueryStringWithMinRating(5.0m)" class="btn-@GetFilterStyle(Model.FilterMinRating.HasValue && Model.FilterMinRating.Value == 5.0m)">Enkel met 5+ sterren (@Model.CountMinRating5)</a></li>
                <li class="divider"></li>
                <li><a href="?@FormatQueryStringWithMinRating(BroadcastModelBase.NO_IMDB_ID)" class="btn-@GetFilterStyle(Model.FilterMinRating.HasValue && Model.FilterMinRating.Value == BroadcastModelBase.NO_IMDB_ID)">Niet gevonden op IMDb (@Model.CountNotOnImdb)</a></li>
                <li><a href="?@FormatQueryStringWithMinRating(BroadcastModelBase.NO_IMDB_RATING)" class="btn-@GetFilterStyle(Model.FilterMinRating.HasValue && Model.FilterMinRating.Value == BroadcastModelBase.NO_IMDB_RATING)">Niet beoordeeld op IMDb (@Model.CountNotRatedOnImdb)</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <a href="?@FormatQueryStringWithToggleCert(Cert.all)" class="btn btn-@GetFilterStyle(Model.FilterCert != Cert.all)">
                @if (Model.FilterCert == Cert.all)
                {
                    @: Alle Certificaties
                }
                else
                {
                    @: Certificaties (@FormatCert(Model.FilterCert))
                }
            </a>
            <button type="button" class="btn btn-@GetFilterStyle(Model.FilterCert != Cert.all) dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>  <!-- caret -->
                <span class="sr-only">Certificaties</span>
            </button>
            
            <ul class="dropdown-menu" role="menu"> <!-- class dropdown-menu -->
                <li><a href="?@FormatQueryStringWithToggleCert(Cert.all)" class="btn-@GetFilterStyle(Model.FilterCert == Cert.all)">Alle films tonen (@Model.Count)</a></li>
                <li class="divider"></li>
                <li><a href="?@FormatQueryStringWithToggleCert(Cert.g)" class="btn-@GetFilterStyle((Model.FilterCert & Cert.g) != 0)">G (@Model.CountCertG)</a></li>
                <li><a href="?@FormatQueryStringWithToggleCert(Cert.pg)" class="btn-@GetFilterStyle((Model.FilterCert & Cert.pg) != 0)">PG (@Model.CountCertPG)</a></li>
                <li><a href="?@FormatQueryStringWithToggleCert(Cert.pg13)" class="btn-@GetFilterStyle((Model.FilterCert & Cert.pg13) != 0)">PG-13 (@Model.CountCertPG13)</a></li>
                <li><a href="?@FormatQueryStringWithToggleCert(Cert.r)" class="btn-@GetFilterStyle((Model.FilterCert & Cert.r) != 0)">R (@Model.CountCertR)</a></li>
                <li><a href="?@FormatQueryStringWithToggleCert(Cert.nc17)" class="btn-@GetFilterStyle((Model.FilterCert & Cert.nc17) != 0)">NC-17 (@Model.CountCertNC17)</a></li>
                <li><a href="?@FormatQueryStringWithToggleCert(Cert.other)" class="btn-@GetFilterStyle((Model.FilterCert & Cert.other) != 0)">Overige (@Model.CountCertOther)</a></li>
                <li class="divider"></li>
                <li><a href="?@FormatQueryStringWithToggleCert(Cert.none)" class="btn-@GetFilterStyle((Model.FilterCert & Cert.none) != 0)">Zonder (@Model.CountCertNone)</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <a href="?@FormatQueryStringWithNotYetRated(null)" class="btn btn-@GetFilterStyle(Model.FilterNotYetRated.HasValue)">
                @if (Model.FilterNotYetRated.HasValue)
                {
                    @if (Model.FilterNotYetRated.Value)
                    {
                        @: Enkel niet bekeken
                    }
                    else
                    {
                        @: Enkel bekeken
                    }
                }
                else
                {
                    @: Zowel bekeken als niet bekeken
                }
            </a>
            <button type="button" class="btn btn-@GetFilterStyle(Model.FilterNotYetRated.HasValue) dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>  <!-- caret -->
                <span class="sr-only"></span>
            </button>
            
            <ul class="dropdown-menu" role="menu"> <!-- class dropdown-menu -->
                <li>
                    <a href="?@FormatQueryStringWithNotYetRated(null)" class="btn-@GetFilterStyle(!Model.FilterNotYetRated.HasValue)">
                        Alle films tonen (@Model.Count)
                    </a>
                </li>
                <li class="divider"></li>
                <li class="@(string.IsNullOrEmpty(Model.ImdbUserId)? "disabled" : "")">
                    <a href="?@FormatQueryStringWithNotYetRated(true)" class="btn-@GetFilterStyle(Model.FilterNotYetRated.HasValue && Model.FilterNotYetRated.Value)">
                        Enkel films tonen die nog niet bekeken zijn (@Model.CountNotYetRated)
                    </a>
                </li>
                <li class="@(string.IsNullOrEmpty(Model.ImdbUserId)? "disabled" : "")">
                    <a href="?@FormatQueryStringWithNotYetRated(false)" class="btn-@GetFilterStyle(Model.FilterNotYetRated.HasValue && !Model.FilterNotYetRated.Value)">
                        Enkel films tonen die wel bekeken zijn (@Model.CountRated)
                    </a>
                </li>
                <li class="divider"></li>

                @if (string.IsNullOrEmpty(Model.ImdbUserId))
                {
                    <li class="dropdown-header">IMDb gebruiker is niet ingesteld</li>
                }
                else
                {
                    <li class="dropdown-header">Je gebruikt IMDb gebruiker @(Model.ImdbUserId).</li>
                    @if (Model.RefreshRequestTime.HasValue)
                    {
                        <li class="dropdown-header">
                            Er is een refresh van je IMDb ratings gepland.<br/>
                            Refresh de pagina binnen enkele minuten om het resultaat te zien.
                        </li>
                    }
                    else if (Model.LastRefreshRatingsTime.HasValue)
                    {
                        <li class="dropdown-header">
                            Je IMDb ratings werden laatst herladen op @Model.LastRefreshRatingsTime.Value.ToLocalTime().
                        </li>
                    }
                    else
                    {
                        <li class="dropdown-header">
                            Je IMDb ratings werden nog niet opgehaald.
                        </li>
                    }
                    <!--li><a href="/ImdbUser?forcerefresh=true">IMDb ratings nu geforceerd herladen</a></li-->
                    <!--li class="divider"></li-->
                }
                <li><a href="/ImdbUser">IMDb gebruiker instellen</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <a href="?@FormatQueryStringWithMaxDays(0)" class="btn btn-@GetFilterStyle(Model.FilterMaxDays != Model.FilterMaxDaysDefault)">
                @if (Model.FilterMaxDays == 0)
                {
                    @: Aantal dagen (maximum)
                }
                else
                {
                    @: Aantal dagen (@Model.FilterMaxDays)
                }
            </a>
            <button type="button" class="btn btn-@GetFilterStyle(Model.FilterMaxDays != Model.FilterMaxDaysDefault) dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>  <!-- caret -->
                <span class="sr-only">Certificaties</span>
            </button>
            
            <ul class="dropdown-menu" role="menu"> <!-- class dropdown-menu -->
                <li><a href="?@FormatQueryStringWithMaxDays(0)" class="btn-@GetFilterStyle(Model.FilterMaxDays == 0)">Maximum aantal dagen (@Model.Count)</a></li>
                <li class="divider"></li>
                <li><a href="?@FormatQueryStringWithMaxDays(8)" class="btn-@GetFilterStyle(Model.FilterMaxDays == 8)">8 dagen (@Model.Count8days)</a></li>
                <li><a href="?@FormatQueryStringWithMaxDays(5)" class="btn-@GetFilterStyle(Model.FilterMaxDays == 5)">5 dagen (@Model.Count5days)</a></li>
                <li><a href="?@FormatQueryStringWithMaxDays(3)" class="btn-@GetFilterStyle(Model.FilterMaxDays == 3)">3 dagen (@Model.Count3days)</a></li>
            </ul>
        </div>
    </div>

    <table class="table">
    <tbody>
        @foreach (var record in Model.Records.OrderBy(m => m.MovieEvent.EndTime))
        {
            var movieEvent = record.MovieEvent;

            <tr class="@(movieEvent.Id == Model.MovieEvent?.Id ? "info" : "")">
                <td class="collapsible">
                    <img src="@(GetImageUrl(movieEvent.Channel.LogoS_Local, movieEvent.Channel.LogoS))" alt="@movieEvent.Channel.Name" title="@movieEvent.Channel.Name" width=50 />
                    <br/>
                    @(@movieEvent.EndTime?.AddHours(-1).ToString("dddd"))
                    <br/>
                    @(@movieEvent.EndTime?.AddHours(-1).ToShortDateString())
                    <br/>
                    @if (movieEvent.Duration.HasValue)
                    {
                        @: @(new TimeSpan((long)@movieEvent.Duration * 600000000).ToString(@"h\:mm"))
                    }
                </td>
                <td class="collapsible">
                    @if (@movieEvent.PosterS != null)
                    {
                        <img src="@(GetImageUrl(movieEvent.PosterS_Local, movieEvent.PosterS))" alt="@movieEvent.Title" width=150 />
                    }
                </td>
                <td>
                    <a class="anchor" name="@movieEvent.Id" ></a>
                    <div class="reverse-collapsible">
                        <img src="@(GetImageUrl(movieEvent.Channel.LogoS_Local, movieEvent.Channel.LogoS))" alt="@movieEvent.Channel.Name" title="@movieEvent.Channel.Name" width=50 />
                        &nbsp;
                        @(@movieEvent.EndTime?.AddHours(-1).ToString("dddd"))
                        @(@movieEvent.EndTime?.AddHours(-1).ToShortDateString())
                        @if (movieEvent.Duration.HasValue)
                        {
                            @: &nbsp; (@(new TimeSpan((long)@movieEvent.Duration.Value * 600000000).ToString(@"h\:mm")))
                        }
                    </div>
                    <h2>
                        @movieEvent.Title
                        @if (movieEvent.Year > 0)
                        {
                            <small>@movieEvent.Year</small>
                        }
                        <small>
                            @if (!string.IsNullOrEmpty(@movieEvent.Movie?.Certification))
                            {
                                @if (@movieEvent.Movie.Certification.Substring(0, 3) == "US:")
                                {
                                    @movieEvent.Movie.Certification.Substring(3)
                                }
                                else
                                {
                                    @movieEvent.Movie.Certification
                                }
                            }
                            
                            @{
                                var shareUrl = $"https://filmoptv.be/?m={movieEvent.Id}";
                            }

                            @if (Model.EditImdbLinks)
                            {
                                <small>
                                    <a href="@shareUrl">&pi;</a>
                                </small>
                            }
                        </small>
                        <span style="white-space: nowrap; float: right;">
                            <small>
                                <a href="@shareUrl" target="_new" title="Share link..." style="text-decoration: none">
                                    <img src="/images/link-24x24.png" alt="Link" height="24px" />
                                </a>
                                &nbsp;
                                <!--div class="fb-share-button" data-href="@shareUrl" data-layout="button" data-size="small" data-mobile-iframe="true"></div-->
                                <a href="https://www.facebook.com/sharer/sharer.php?u=@(System.Text.Encodings.Web.UrlEncoder.Default.Encode(@shareUrl))" target="_new" title="Share op facebook..." style="text-decoration: none">
                                    <img src="/images/facebook-36x36.png" alt="Facebook" height="36px" />
                                </a>
                                &nbsp;
                                @{
                                    string yeloUrl = movieEvent.YeloUrl;
                                    if (yeloUrl == null)
                                    {
                                        yeloUrl = "https://www.yeloplay.be/?action=search&q=" + System.Text.Encodings.Web.UrlEncoder.Default.Encode(movieEvent.Title);
                                    }
                                }
                                <a href="@yeloUrl" target="_new" title="Programmeer @movieEvent.Title op je digicorder..." style="text-decoration: none">
                                    <img src="/images/yeloplay-55x32.png" alt="Yelo" height="32px" />
                                </a>
                                &nbsp;
                                @if (!string.IsNullOrEmpty(@movieEvent.Movie?.ImdbId))
                                {
                                        <a href="http://www.imdb.com/title/@movieEvent.Movie.ImdbId" target="_new" title="Raadpleeg @movieEvent.Title op IMDb..." style="text-decoration: none">
                                            <img src="/images/imdb-50x24.png" alt="IMDb" height="24px" />
                                            @if (@movieEvent.Movie.ImdbRating.HasValue)
                                            {
                                                @((@movieEvent.Movie.ImdbRating.Value / 10.0).ToString("0.0"))
                                                <span class="stars">
                                                    <span style="width: @(Math.Round(16.0 * @movieEvent.Movie.ImdbRating.Value / 10, 0))px;">
                                                    </span>
                                                </span>
                                            }
                                    </a>
                                }

                                @if (Model.EditImdbLinks)
                                {
                                    <small>
                                        <a href="#manualImdbLink-@movieEvent.Id" data-toggle="collapse">
                                            <span class="glyphicon glyphicon-film"></span>
                                        </a>
                                        <div id="manualImdbLink-@movieEvent.Id" class="collapse">
                                            MovieEventId: @movieEvent.Id <br/>
                                            <form action="#" method="GET">
                                                Manual input: 
                                                IMDb search 
                                                <a href="http://www.imdb.com/find?q=@(System.Text.Encodings.Web.UrlEncoder.Default.Encode(movieEvent.Title))&amp;s=all" target="_new">all</a>
                                                <a href="http://www.imdb.com/search/title?release_date=@(movieEvent.Year-1)-07-01,@(movieEvent.Year+1)-07-01&amp;title=@(System.Text.Encodings.Web.UrlEncoder.Default.Encode(movieEvent.Title))" target="_new">advanced</a>
                                                <br/>
                                                IMDb ID: <input type="edit" name="setimdbid" value="" /> <br/>
                                                <input type="hidden" name="movieeventid" value="@movieEvent.Id" /> <br/>
                                                @if (Model.FilterTypeMask != Model.FilterTypeMaskDefault)
                                                {
                                                    <input type="hidden" name="minrating" value="@Model.FilterTypeMask.ToString()" /> <br/>
                                                }
                                                @if (Model.FilterMinRating.HasValue)
                                                {
                                                    <input type="hidden" name="minrating" value="@Model.FilterMinRating.Value.ToString(CultureInfo.InvariantCulture.NumberFormat)" /> <br/>
                                                }
                                                @if (Model.FilterNotYetRated.HasValue)
                                                {
                                                    <input type="hidden" name="notyetrated" value="@Model.FilterNotYetRated.Value.ToString()" /> <br/>
                                                }
                                                @if (Model.FilterCert != Cert.all)
                                                {
                                                    <input type="hidden" name="cert" value="@Model.FilterCert.ToString("g")" /> <br/>
                                                }
                                                @if (Model.FilterMaxDays != Model.FilterMaxDaysDefault)
                                                {
                                                    <input type="hidden" name="maxdays" value="@Model.FilterMaxDays" /> <br/>
                                                }
                                                <input type="submit" value="Set" /> 
                                            </form>
                                        </div>
                                    </small>
                                }
                            </small>
                        </span>
                    </h2>
                    <div class="reverse-collapsible">
                        @if (@movieEvent.PosterS != null)
                        {
                            <img src="@(GetImageUrl(movieEvent.PosterS_Local, movieEvent.PosterS))" alt="@movieEvent.Title" width=150 />
                        }
                    </div>
                    <div style="clear: both;">
                        <p>
                            @movieEvent.Genre
                        </p>
                        <p>
                            @movieEvent.Content
                        </p>
                        @if (!string.IsNullOrEmpty(movieEvent.Opinion))
                        {
                            <p>
                                <i>
                                    Humo: &ldquo;@Html.Raw(movieEvent.Opinion)&rdquo;
                                </i>
                            </p>
                        }
                        @if (record.UserRating != null)
                        {
                            <p class="slim"><div class="alert alert-info small-alert">
                                Deze film gaf je op @record.UserRating.RatingDate.ToLongDateString() een rating @(record.UserRating.Rating)
                            </div></p>
                        }
                        @if (record.UserWatchListItem != null)
                        {
                            <p class="slim"><div class="alert alert-success small-alert">
                                Deze film heb je op @record.UserWatchListItem.AddedDate.ToLongDateString() op je watchlist gezet
                            </div></p>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.FilterMaxDays > 0 && Model.FilterMaxDays < 10)
{
    if (User.Identity.IsAuthenticated)
    {
        string ref_load_more = "?";
        if (Model.FilterMaxDays <= 3)
        {
            ref_load_more += FormatQueryStringWithMaxDays(5);
        }
        else if (Model.FilterMaxDays <= 5)
        {
            ref_load_more += FormatQueryStringWithMaxDays(8);
        }
        else
        {
            ref_load_more += FormatQueryStringWithMaxDays(0);
        }
        ref_load_more += "#day" + now.Date.AddDays(Model.FilterMaxDays + 1).ToString("yyyyMMdd");

        <div style="text-align: right;">
            <a href="@ref_load_more" class="btn btn-info">Volgende dagen laden...</a>
        </div>
    }
    else
    {
        <div style="text-align: right;">
            <p class="text-muted">
                <small>
                    <a asp-page="/Account" asp-page-handler="login">Inloggen</a> om advertenties te verbergen of om meer dagen te tonen.
                </small> 
            </p>
        </div>
    }
}